<h2>Zasady i ważne uwagi dotyczące użytkowania z serwisu [nazwa] [domena]</h2>

<ol>
<li>Aby można było dodawać miejsca, muszą istnieć kategorie.</li>
<li>Tylko admin usuwa kategorie. Moderatorzy przypisują miejsca do kategorii, mogą zmieniać nazwę kategorii.</li>
<li>Tylko administrator może zablokować/dodać nowego edytora.</li>
<li>Jeśli brak Ci funkcjonalności, poproś o nie administratora.</li>
<li>Tagi i komentarze mogą dodawać niezalogowani użytkownicy.</li>
<li>Historia zmian edytorów służy to śledzenia aktywności edytorów. Podejrzane czynności powiązane z brakami danych wypełniających miejsca nalezy zgłaszać administratorowi. Odbywa się wtedy narada dotycząca zablokowania szkodnika</li>
<li>Zablokowany edytor nie może logować się do systemu ani wprowadzać w nim zmian.</li>
<li>Nie można zablokować administratora.</li>
<li>Administrator edytuje treści zgłaszanych zmian, jeśli są one obraźliwwe, wulgarne itp, może je również usunąć.</li>
<li>Moderatorzy zbają o porządek w miejscach, ich tagach, daniach, komentarzach, mogą je edytować, usuwać.</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ol>

<p>Administrator</p>


